[submodule "zomato_recommendation"]
	path = zomato_recommendation
	url = https://github.com/rr4323/zomato_recommendation_system.git
[submodule "mobile_price_predictor"]
	path = mobile_price_predictor
	url = https://github.com/rr4323/mobile_price_predictor
[submodule "life_expectancy_predictor"]
	path = life_expectancy_predictor
	url = https://github.com/rr4323/life_expectancy_predictor.git
[submodule "income_classification"]
	path = income_classification
	url = https://github.com/rr4323/income_classification.git
